@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url("../../assets/fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BrandonGrotesque-Regular.otf") format("opentype"), url("../../assets/fonts/BrandonGrotesque-Regular.woff") format("woff"), url("../../assets/fonts/BrandonGrotesque-Regular.ttf") format("truetype"), url("../../assets/fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url("../../assets/fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BrandonGrotesque-Medium.otf") format("opentype"), url("../../assets/fonts/BrandonGrotesque-Medium.woff") format("woff"), url("../../assets/fonts/BrandonGrotesque-Medium.ttf") format("truetype"), url("../../assets/fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url("../../assets/fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BrandonGrotesque-Bold.otf") format("opentype"), url("../../assets/fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../../assets/fonts/BrandonGrotesque-Bold.ttf") format("truetype"), url("../../assets/fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.tlrp {
  padding-left: 0;
  padding-right: 0; }

.f-c {
  display: flex;
  align-items: inherit; }

.h100 {
  height: 100%; }

.valm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.navbar-default {
  background: #fff;
  border: 0;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  border-bottom: 1px solid #e1e5e8;
  /* box-shadow: 0 5px 25px rgba(0, 0, 0, .1);*/ }
  .navbar-default .navbar-brand {
    height: auto;
    padding: 12px 15px; }
  .navbar-default .navbar-nav > li > a {
    color: #1f4497;
    text-transform: uppercase;
    font-size: 15px;
    font-family: BrandonGrotesque-Bold;
    letter-spacing: 3px;
    display: block;
    padding: 33px 20px; }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: #ecf1fb;
      color: #1f4497; }

.table {
  border: 1px solid #e8edef;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 0px #bfc7ca; }
  .table > thead > tr {
    background: #627cb6;
    color: #fff; }
  .table > thead > tr > th {
    border-bottom-width: 1px;
    text-transform: capitalize;
    padding: 20px 20px;
    border-bottom-color: #627cb6;
    font-family: rubik;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.97); }
  .table > tbody {
    border-top: 3px solid #cfd8d8; }
  .table > tbody > tr > td {
    font-size: 13px;
    font-family: montserrat;
    opacity: .7;
    padding: 13px; }

.pretty.inline label i {
  font-size: 16px !important; }

body {
  background-color: #f1f4f4; }

#menu-header {
  border-bottom: 1px solid #e1e5e8;
  background-color: #fff; }
  #menu-header .menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    position: relative; }
    #menu-header .menu ul li {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: 12px;
      display: flex;
      padding: 10px 0;
      margin: 0 40px 0 0;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      color: #717a8c;
      border-bottom: 2px solid transparent; }
      #menu-header .menu ul li.back {
        position: absolute;
        right: 0; }
        #menu-header .menu ul li.back .mdi {
          font-size: 18px;
          line-height: 1;
          vertical-align: middle;
          margin-right: 7px; }
        #menu-header .menu ul li.back:hover {
          border-bottom-color: transparent; }
      #menu-header .menu ul li:hover, #menu-header .menu ul li.active {
        color: #627cb6;
        border-bottom: 2px solid #627cb6; }
  #menu-header .title {
    font-family: BrandonGrotesque-Bold;
    font-size: 17px;
    padding: 21px 0 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5d6d7f; }

.main-content {
  margin-top: 20px;
  padding: 14px 0;
  margin-bottom: 40px; }
  .main-content ul.calc {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #cfd8d8;
    margin-top: -12px; }
  .main-content ul.calc.total {
    border-bottom: 0;
    padding: 23px 0 0;
    margin-top: 0; }
  .main-content ul.calc li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 50%;
    flex-direction: column; }
    .main-content ul.calc li:first-child {
      border-right: 1px solid #cfd8d8; }
  .main-content ul.calc.total li:first-child {
    border-right: none; }
  .main-content ul.sleek li {
    background-color: #e8edef;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 0 0 0 15px;
    overflow: hidden; }
  .main-content ul.simple {
    padding: 0;
    margin-top: -20px; }
    .main-content ul.simple li {
      padding: 20px;
      border-bottom: 1px solid #cfd8d8;
      display: flex;
      justify-content: space-between; }
      .main-content ul.simple li.thin {
        padding: 16px; }
    .main-content ul.simple li .list-action .mdi {
      opacity: .5;
      font-size: 17px;
      margin: 0 0 0 15px;
      line-height: 1; }
    .main-content ul.simple .name {
      text-transform: capitalize; }
    .main-content ul.simple .name i {
      font-size: 22px;
      margin-right: 5px;
      margin-left: -6px;
      line-height: 1;
      vertical-align: middle;
      /* background: #627cb6; */
      /* color: #fff; */
      padding: 2px;
      border-radius: 2px;
      opacity: .7; }
    .main-content ul.simple .name:hover {
      opacity: 1; }
      .main-content ul.simple .name:hover i {
        opacity: 1;
        color: #627cb6; }
  .main-content ul.calender {
    flex-direction: column;
    border-bottom: 0; }
    .main-content ul.calender li {
      width: 90%;
      border: 0 !important;
      flex-direction: row;
      margin-bottom: 24px;
      justify-content: flex-start;
      flex: 1; }
  .main-content .title {
    font-family: Rubik;
    /* font-weight: 500; */
    font-size: 14px;
    margin-bottom: 20px;
    padding: 20px 20px;
    letter-spacing: 0;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #627cb6;
    background: #627cb6;
    color: rgba(255, 255, 255, 0.97);
    border-bottom: 5px solid #f1f4f4; }
  .main-content .name {
    display: block;
    padding: 0 0;
    opacity: .7;
    font-family: Montserrat;
    font-size: 13px;
    text-transform: uppercase;
    /* text-align: center;*/ }
  .main-content .cal-icon {
    flex: 1 5%;
    font-size: 22px;
    opacity: .5;
    margin-right: 14px; }
  .main-content .detail {
    opacity: .9;
    text-align: left;
    flex: 1 100%;
    text-transform: capitalize; }
    .main-content .detail .type {
      font-size: 15px;
      text-transform: uppercase; }
    .main-content .detail .amount {
      font-size: 15px; }
    .main-content .detail .onname {
      font-size: 12px;
      font-family: BrandonGrotesque-Bold; }
  .main-content .amount {
    font-family: Rubik;
    font-size: 20px;
    padding: 0 0;
    opacity: .5; }
    .main-content .amount span {
      float: right;
      font-size: 12px; }
  .main-content ul.calc.total .amount {
    font-size: 37px;
    opacity: 1; }
  .main-content .day {
    font-size: 20px;
    /* background: rgba(31, 68, 151, .16); */
    color: #77a22e;
    margin: 0;
    padding: 3px 0 3px;
    display: block;
    font-family: Rubik;
    font-weight: 500;
    line-height: 1;
    opacity: .9;
    /* width: 100%; */
    /* text-align: center; */
    /* margin: 0 22px; */ }
    .main-content .day .month {
      font-size: 15px; }

.box-wrap {
  border: 1px solid #cfd8d8;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  text-transform: capitalize; }

.box ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.box.highlight {
  color: #5e6d73;
  background-color: #e8edef; }
  .box.highlight .title {
    border-bottom: 10px solid #f1f4f4; }

.box.listed ul li {
  text-align: center; }

.button-area {
  text-align: center;
  margin: 10px; }

button, .button {
  font-family: 'Montserrat';
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 12px 12px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-radius: 2px;
  background: #ccc; }
  button.highlight, .button.highlight {
    background: #28ca62; }
  button.simple, .button.simple {
    background-color: #627cb6; }
  button.action, .button.action {
    background-color: #627cb6; }
  button.inline, .button.inline {
    display: inline-block;
    width: auto; }
  button.icon, .button.icon {
    padding: 11px 10px;
    vertical-align: bottom; }
  button.icon.big, .button.icon.big {
    padding: 10px 16px 9px; }
    button.icon.big .mdi, .button.icon.big .mdi {
      font-size: 21px; }
  button .mdi, .button .mdi {
    font-size: 16px;
    position: relative;
    top: 1px;
    line-height: 1; }
  button.default, .button.default {
    background-color: #fff;
    border: 1px solid #d0cece;
    color: #8d8f96; }
    button.default:hover, .button.default:hover {
      background-color: #627cb6;
      color: #fff;
      border-color: #627cb6; }

.pretty {
  margin-bottom: 0; }
  .pretty.primary input:checked + label i:after {
    border-color: #627cb6;
    background-color: #627cb6; }
  .pretty label {
    margin-bottom: 0; }

table.table .pretty.inline {
  display: table;
  margin: 3px auto; }

.highlight-btn-holder {
  margin: 0 0 20px; }
  .highlight-btn-holder .addcre {
    padding: 14px !important; }

#inline-primary-form p {
  font-family: montserrat;
  font-size: 12px;
  opacity: .7; }

#inline-primary-form ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  #inline-primary-form ul li {
    border: 1px solid #cfd8d8;
    background: #fff;
    padding: 14px;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-family: montserrat;
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    border-radius: 2px;
    background: #fff;
    cursor: pointer; }
    #inline-primary-form ul li:hover {
      background-color: #627cb6;
      border-color: #627cb6;
      color: #fff; }
  #inline-primary-form ul li .mdi {
    font-size: 18px;
    position: relative;
    top: 0;
    margin-right: 6px;
    line-height: 1;
    vertical-align: middle; }
  #inline-primary-form ul li .pf {
    float: right;
    margin-top: -4px;
    font-size: 28px;
    opacity: .4; }

#inline-form {
  border: 1px solid #cfd8d8;
  background: #fff;
<<<<<<< HEAD
  padding: 14px;
  font-family: Rubik; }
  #inline-form h3 {
    text-transform: uppercase;
    margin: 11px 9px 18px;
    font-size: 20px;
    font-family: BrandonGrotesque-Regular; }
  #inline-form label {
    text-transform: uppercase;
    font-size: 12px;
    opacity: .7;
    font-weight: 500; }
=======
  padding: 14px; }
  #inline-form h3 {
    text-transform: uppercase;
    margin: 11px 9px 18px;
    font-size: 20px; }
  #inline-form label {
    text-transform: uppercase;
    font-size: 12px;
    opacity: .7; }
>>>>>>> 2174a593c0745e35f314fe75b550d7bde88b9197
  #inline-form .form-control {
    box-shadow: none;
    border-radius: 2px;
    padding: 8px;
    min-height: auto;
    height: auto;
    border-width: 1px; }
<<<<<<< HEAD
  #inline-form .types span {
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block; }
    #inline-form .types span.active, #inline-form .types span:hover {
      border-color: #627cb6; }
      #inline-form .types span.active:before, #inline-form .types span:hover:before {
        content: "\F5E0";
        font: normal normal normal 24px/1 "Material Design Icons";
        position: absolute;
        right: -9px;
        font-size: 17px;
        color: #627cb6;
        top: -8px;
        background: #fff; }
  #inline-form .types span img {
    vertical-align: middle;
    /* border: 2px solid transparent; */
    border-radius: 4px; }
=======
  #inline-form .types img {
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer; }
    #inline-form .types img:hover {
      border-color: #627cb6; }
>>>>>>> 2174a593c0745e35f314fe75b550d7bde88b9197
  #inline-form .help .mdi {
    font-size: 15px;
    margin: 0 10px;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -1px;
    cursor: pointer; }
    #inline-form .help .mdi:hover {
      color: #627cb6; }

body {
  font-family: BrandonGrotesque-Regular; }
