<div class="modal-box clearfix">
  <div class="col-md-4">
    <div class="highlight-btn-holder">
    <button class="addcre highlight"><i class="mdi mdi-plus"></i> Add new bank account</button>
    </div>
      <div id="inline-primary-form">
        <p>click to edit an existing account details</p>
        <ul class="cards">
          <li class="cc-card inline"> <i class="pf pf-bank-transfer"></i> Tom's BOA-4456</li>
        </ul>
      </div>
  </div>
  <div class="col-md-8">
    <div id="inline-form">
      <form role="form">
             <div class="clearfix">

                 <h3>Add New account</h3>
               <div class="col-md-12">
                 <div class="form-group">
                  <label for="">account type</label>
                  <div class="types">
                    <div class="pretty inline primary plain">
                        <input type="radio" name="acctype"/>
                        <label><i class="mdi mdi-check"></i> Checking</label>
                      </div>
                      <div class="pretty inline primary plain">
                          <input type="radio" name="acctype"/>
                          <label><i class="mdi mdi-check"></i> Savings</label>
                        </div>
                  </div>
                 </div>
               </div>
             </div>
            <div class="clearfix">
              <div class="col-md-6">
                <div class="form-group">
                 <label for="">Bank name</label>
                 <input type="text" class="form-control" placeholder="987654321">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                 <label for="">card holders name</label>
                 <input type="text" class="form-control" placeholder="John Smith">
                </div>
              </div>

            </div>
           <div class="clearfix">
             <div class="col-md-6">
               <div class="form-group">
                <label for="">routing number <span class="help"><i class="mdi mdi-help-circle" data-toggle="modal" data-target="#myModal"></i></span></label>
                <input type="text" class="form-control" placeholder="John Smith">
               </div>
             </div>
               <div class="col-md-6">
                 <div class="form-group">
                  <label for="">account number <span class="help"><i class="mdi mdi-help-circle" data-toggle="modal" data-target="#myModal"></i></span>  </label>
                  <input type="text" class="form-control" placeholder="123">
                 </div>
               </div>
           </div>
          <div class="clearfix">
            <div class="col-md-6">
              <div class="form-group">
               <label for="">account nickname</label>
               <input type="text" class="form-control" placeholder="John's BOA">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6">
              <div class="form-group">
               <div class="pretty inline primary plain">
                   <input type="checkbox"/>
                   <label><i class="mdi mdi-check"></i> Default payment method</label>
                 </div>
              </div>
            </div>
          </div>
            <div class="form-submit text-right">
              <button type="submit" class="action default inline">cancel</button>
               <button type="submit" class="action hightlight inline">save</button>
            </div>
      </form>
    </div>

  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document" style="width:450px;  ">
  <div class="modal-content">
    <div class="modal-body" style="padding:0;">
      <img src="https://static.nationwide.com/static/Bank_Check.gif" alt="">
    </div>
  </div>
</div>
</div>
