<table class="table">
  <thead>
    <tr>
      <th width="20"></th>
      <th>Date</th>
      <th>Status</th>
      <th>Confirmation</th>
      <th>Account</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="pretty inline primary">
          <input type="checkbox"/>
          <label><i class="mdi mdi-check"></i></label>
        </div>
      </td>
      <td>05/22/16</td>
      <td>processed</td>
      <td>Medi-Share: TX-432566</td>
      <td>Theresa's Visa - 3456</td>
      <td>$415.00</td>
    </tr>
    <tr>
      <td>
        <div class="pretty inline primary">
          <input type="checkbox"/>
          <label><i class="mdi mdi-check"></i></label>
        </div>
      </td>
      <td>05/22/16</td>
      <td>processed</td>
      <td>Medi-Share: TX-432566</td>
      <td>Theresa's Visa - 3456</td>
      <td>$415.00</td>
    </tr>
    <tr>
      <td>
        <div class="pretty inline primary">
          <input type="checkbox"/>
          <label><i class="mdi mdi-check"></i></label>
        </div>
      </td>
      <td>05/22/16</td>
      <td>processed</td>
      <td>Medi-Share: TX-432566</td>
      <td>Theresa's Visa - 3456</td>
      <td>$415.00</td>
    </tr>
    <tr>
      <td>
        <div class="pretty inline primary">
          <input type="checkbox"/>
          <label><i class="mdi mdi-check"></i></label>
        </div>
      </td>
      <td>05/22/16</td>
      <td>processed</td>
      <td>Medi-Share: TX-432566</td>
      <td>Theresa's Visa - 3456</td>
      <td>$415.00</td>
    </tr>
    <tr>
      <td>
        <div class="pretty inline primary">
          <input type="checkbox"/>
          <label><i class="mdi mdi-check"></i></label>
        </div>
      </td>
      <td>05/22/16</td>
      <td>processed</td>
      <td>Medi-Share: TX-432566</td>
      <td>Theresa's Visa - 3456</td>
      <td>$415.00</td>
    </tr>
  </tbody>
</table>

<div class="action-bar clearfix">
  <div class="col-md-12">
    <div class="col-md-6">
      <button class="button simple inline">Download</button>
      <button class="button simple inline">Print</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="button simple inline icon big">
        <i class="mdi mdi-chevron-left"></i>
      </button>
        <button class="button simple inline">
          2/7
        </button>
          <button class="button simple inline icon big">
            <i class="mdi mdi-chevron-right"></i>
          </button>
    </div>
  </div>
</div>
