<section class="clearfix">
  <div class="col-md-12 tlrp f-c">
    <div class="col-md-4">
      <div class="box-wrap">
        <div class="box listed">
          <div class="title">Upcoming events</div>
          <ul class="calc calender">
            <li>
              <div class="cal-icon">
                <i class="mdi mdi-calendar-text"></i>
              </div>
              <div class="name detail">
                <div class="type">Medi-share</div>
                <div class="day">15 July 2016</div>
                <div class="amount">$227.00 <span>Tom's BOA</span></div>
              </div>
            </li>
              <li>
                <div class="cal-icon">
                  <i class="mdi mdi-calendar-text"></i>
                </div>
                <div class="name detail">
                  <div class="type">Mannae</div>
                    <div class="day"> 02 August 2016</div>
                  <div class="amount">$75.25 <span>Samuel peterson</span></div>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    <div class="box-wrap clearfix h100">
      <div class="valm">
        <div class="box">
          <div class="title">Sharing program</div>
          <ul class="simple">
            <li>
              <div class="name">Medi-share program (autopay)</div>
            </li>
              <li>
                <div class="name">Manna program (autopay)</div>
              </li>
              <li>
                <div class="name">Extra blesings donations</div>
              </li>
          </ul>
        </div>
        <div class="button-area">
          <button class="simple default"  ng-click="pay()">Make a payment</button>
        </div>
      </div>

    </div>
    </div>
    <div class="col-md-4">
      <div class="box-wrap">
        <div class="valm">
          <div class="box">
            <div class="title">Active payment methods</div>
            <ul class="simple">
              <li class="thin">
                <div class="name">
                  <i class="pf pf-bank-transfer"></i> Tom's BOA Account
                </div>

                <div class="list-action">
                  <i class="mdi mdi-delete"></i>
                  <i class="mdi mdi-lead-pencil"></i>
                </div>
              </li>
                <li class="thin">
                  <div class="name">
                    <i class="pf pf-visa"></i> Visa XXX-4327
                    </div>

                    <div class="list-action">
                      <i class="mdi mdi-delete"></i>
                      <i class="mdi mdi-lead-pencil"></i>
                    </div>
                </li>
                <li class="thin">
                  <div class="name">
                    <i class="pf pf-maestro"></i>  Theresa's Maestro Card
                      </div>
                      <div class="list-action">
                        <i class="mdi mdi-delete"></i>
                        <i class="mdi mdi-lead-pencil"></i>
                      </div>
                </li>
            </ul>
          </div>
          <div class="button-area">
            <button class="action default inline icon"> <i class="mdi mdi-plus"></i> Add new payment method</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
