@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../../assets/fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/BrandonGrotesque-Regular.otf')  format('opentype'),
	     url('../../assets/fonts/BrandonGrotesque-Regular.woff') format('woff'), url('../../assets/fonts/BrandonGrotesque-Regular.ttf')  format('truetype'), url('../../assets/fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url('../../assets/fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/BrandonGrotesque-Medium.otf')  format('opentype'),
	     url('../../assets/fonts/BrandonGrotesque-Medium.woff') format('woff'), url('../../assets/fonts/BrandonGrotesque-Medium.ttf')  format('truetype'), url('../../assets/fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('../../assets/fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/BrandonGrotesque-Bold.otf')  format('opentype'),
	     url('../../assets/fonts/BrandonGrotesque-Bold.woff') format('woff'), url('../../assets/fonts/BrandonGrotesque-Bold.ttf')  format('truetype'), url('../../assets/fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
