.navbar-default {
    background: #fff;
    border: 0;
    border-radius: 0;
    min-height: auto;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e5e8;
    /* box-shadow: 0 5px 25px rgba(0, 0, 0, .1);*/

    .navbar-brand {
        height: auto;
        padding: 12px 15px;
    }

    .navbar-nav>li>a {
        color: $color--primary;
        text-transform: uppercase;
        font-size: 15px;
        font-family: BrandonGrotesque-Bold;
        letter-spacing: 3px;
        display: block;
        padding: 33px 20px;

        &:hover {
            background-color: #ecf1fb;
            color: $color--primary;
        }
    }
}

.table {
    border: 1px solid #e8edef;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 0px #bfc7ca;

    >thead>tr {
        background: #627cb6;
        color: #fff;
    }

    >thead>tr>th {
        border-bottom-width: 1px;
        text-transform: capitalize;
        padding: 20px 20px;
        border-bottom-color: rgb(98, 124, 182);
        font-family: rubik;
        font-weight: 400;
        color: rgba(255, 255, 255, .97);
    }

    >tbody {
        border-top: 3px solid #cfd8d8;
    }

    >tbody>tr>td {
        font-size: 13px;
        font-family: montserrat;
        opacity: .7;
        padding: 13px;
    }
}

.pretty.inline label i {
    font-size: 16px !important;
}
