.tlrp {
    padding-left: 0;
    padding-right: 0;
}

.f-c {
    display: flex;
    align-items: inherit;
}

.h100 {
    height: 100%;
}

.valm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
